.container {
    margin-top: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;

    .cart-container {
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 15px 5px #fec5bb;


        .dog-info {
            display: flex;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            margin: 1.5rem 3rem 0 3rem;
            align-items: center;


            .img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;

            }
        }

        .total {
            font-weight: 400;
            margin: 1rem 0;
        }
    }
}

.header {
    font-size: 1.9rem;
    font-weight: 400;
    margin-top: 2rem;
    text-align: center;
    color: rgb(255, 103, 154);
}

.message {
    margin: 1rem 2rem;
    margin-bottom: 0;
}