@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;

}

.nav {
    background-color: rgb(255, 193, 217);
    text-align: right;
    height: 4.4rem;
    display: flex;
    gap: 1px;

    .my-header {
        background-color: rgb(255, 123, 171);
        text-decoration: none;
        color: rgb(255, 240, 250);
        font-size: 1.5rem;
        padding: 2rem;
        text-align: center;
        padding-top: 1rem;
    }

    .my-header:focus {
        background-color: rgb(182, 212, 255);
    }
}

.action {
    background-color: rgb(12, 45, 49);
}

@media (max-width: 500px) {
    .nav {

        height: 2em;

        .my-header {
            font-size: 1em;
            padding: 0.5em;
            padding-top: 0.5rem;
        }

    }

}